
body,html{
    min-height:100%;
    height:auto;
    margin: 0px;
}
.eggzy-game-wrapper{
    border-radius: 3px;
    height: 628px;
    left: 25px;
    position: relative;
    right: 0;
    top: 95px;
    width: 895px;
}
.eggzy-game-headr{
    background: linear-gradient(to top, #B3B3B3 0%, #F5F5F5 105%) repeat scroll 0 0;
    background: -moz-linear-gradient(to top, #B3B3B3 0%, #F5F5F5 105%) repeat scroll 0 0;
    background: -webkit-linear-gradient(to top, #B3B3B3 0%, #F5F5F5 105%) repeat scroll 0 0;
    height: 55px;
    position: relative;
    width: 99.8%;
}
.eggzy-canvas-wrapper{
    height: 573px;
    overflow: hidden;
    /*overflow: auto;*/
    width: 100%;
}
.eggzy-game-canvas {
    margin: auto;
    width: 729px;
}
.canvas-bg{
    background-image: url("../img/bg-partern.jpg");
    background-repeat: repeat;
    float: left;
    height: auto;
    width: 719px;
}
.left-sidebar-bg{
    background-image: url("../img/left-bg.jpg");
    background-position: 0 232px;
    background-repeat: repeat-y;
    float: left;
    height: 1997px;
    width: 83px;
}
.right-sidebar-bg{
    background-image: url("../img/right-bg.jpg");
    background-repeat: repeat-y;
    background-position: 0 21px;
    float: left;
    height: 1997px;
    width: 91px;
}

.level-block {
    float: left;
    height: 100%;
    position: relative;
    width: 120px;
}

.high-score-block {
    float: left;
    height: 100%;
    width: 200px;
}

.high-score-block span {
    color: #015275;
    float: left;
    font-family: Arial;
    font-size: 20px;
    left: 21px;
    margin: 21px 0 0;
    position: relative;
}
.misscount-block{
    float: right;
    height: 100%;
    position: relative;
    right: 88px;
    width: 178px;
}
.egg{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll -28px 0;
    float: left;
    height: 24px;
    position: relative;
    top: 3px;
    width: 22px;
}
.miss-egg{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll -3px 0;
}
.level-btn{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll 1px -127px;
    height: 71px;
    position: relative;
    top: 1px;
    width: 146px;
}
.level-btn > span {
    bottom: 0;
    color: #FFFFFF;
    font-family: arial;
    font-size: 26px;
    font-weight: bold;
    height: 10px;
    left: -2px;
    margin: auto;
    position: absolute;
    right: 0;
    top: -21px;
    width:93px;
}
.timing-btn:before{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll 2px -35px;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
}
.score-btn:before{
    background:url("../img/eggzy-spritesheet.png") no-repeat scroll -43px -38px;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
}
.buttons label {
    color: #FFF;
    font-family: arial;
    font-size: 19px;
    left: 44px;
    position: relative;
    top: 10px;
}
.buttons {
    background: linear-gradient(to top, #D57500 -60%,#E3B100  100%) repeat scroll 0 0;
    background: -moz-linear-gradient(to top, #D57500 -60%,#E3B100  100%) repeat scroll 0 0;
    background: -webkit-linear-gradient(to top, #D57500 -60%,#E3B100  100%) repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    height: 39px;
    left: -4px;
    margin: 0 0 0 17px;
    position: relative;
    top: 11px;
    width: 130px;
}
.v-line {
    background-color: #B0B2B1;
    content: "";
    height: 12px;
    left: 24px;
    position: absolute;
    top: -12px;
    width: 2px;
}
.v-line2 {
    left: 103px;
}

.sound-btn-area {
    bottom: 0;
    height: 40px;
    position: absolute;
    right: 85px;
    width: 100px;
}
.play-btn{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll -58px -87px;
    height: 25px;
    left: 18px;
    position: absolute;
    top: 1px;
    width: 25px;
}
.pause-btn{
    cursor: pointer;
    height: 28px;
    left: 20px;
    position: absolute;
    width: 20px;
}

.vertical-line-first {
    background-color: #F4EE3C;
    border-radius: 2px;
    float: left;
    height: 20px;
    margin: 4px 0 0 4px;
    width: 4px;
}
.sounds{
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: 24px;
    width: 25px;
}
.mute-sound{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll -30px -85px;
}
.unmute-sound{
    background: url("../img/eggzy-spritesheet.png") no-repeat scroll -3px -86px;
}

.game-finish-hint-bar{
    background-color: #E1AC00;
    border-radius: 10px;
    bottom: 0;
    height: 180px;
    margin: auto;
    position: absolute;
    right: 45px;
    top: 0;
    width: 10px;
}

.hint-line {
    background-color: #AA5D11;
    float: right;
    height: 1px;
    margin: 0 0 13px 2px;
    position: relative;
    right: 0;
    top: 15px;
    width: 5px;
}
.selected-hint-line{
    background-color: #000;
}
.button-area {
    height: 51px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 55px;
    width: 300px;
}
/*.timing-icon:after{
    background-color: #B0B2B1;
    content: "";
    height: 20px;
    right: 22px;
    position: absolute;
    top: -19px;
    width: 2px;
}*/